<!--suppress ALL -->
<div #ChartContainer style="width: 100%" fxLayoutAlign="space-between stretch" *ngIf="!isEmptyValue(metadata) && !isEmptyValue(data)">
<!--  <div class="chart-col">-->
<!--    <div style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px">-->
      <ngx-charts-bar-vertical
        *ngIf="chartType === CHARTS_CODES.BAR_VERTICAL"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,height]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [customColors]="customColors"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [yScaleMax]="yScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [showDataLabel]="showDataLabel"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-vertical>
      <ngx-charts-bar-horizontal
        *ngIf="chartType === CHARTS_CODES.BAR_HORIZONTAL"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [xScaleMax]="xScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [showDataLabel]="showDataLabel"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-horizontal>
      <ngx-charts-bar-vertical-2d
        *ngIf="chartType === CHARTS_CODES.BAR_VERTICAL_2D"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [groupPadding]="groupPadding"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [yScaleMax]="yScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [showDataLabel]="showDataLabel"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-vertical-2d>
      <ngx-charts-bar-horizontal-2d
        *ngIf="chartType === CHARTS_CODES.BAR_HORIZONTAL_2D"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [groupPadding]="groupPadding"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [xScaleMax]="xScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [showDataLabel]="showDataLabel"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-horizontal-2d>
      <ngx-charts-bar-vertical-stacked
        *ngIf="chartType === CHARTS_CODES.BAR_VERTICAL_STACKED"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [yScaleMax]="yScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [showDataLabel]="showDataLabel"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-vertical-stacked>
      <ngx-charts-bar-horizontal-stacked
        *ngIf="chartType === CHARTS_CODES.BAR_HORIZONTAL_STACKED"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [showDataLabel]="showDataLabel"
        [xScaleMax]="xScaleMax"
        [noBarWhenZero]="noBarWhenZero"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-horizontal-stacked>
      <ngx-charts-bar-vertical-normalized
        *ngIf="chartType === CHARTS_CODES.BAR_VERTICAL_NORMALIZED"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [noBarWhenZero]="noBarWhenZero"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-vertical-normalized>
      <ngx-charts-bar-horizontal-normalized
        *ngIf="chartType === CHARTS_CODES.BAR_HORIZONTAL_NORMALIZED"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [noBarWhenZero]="noBarWhenZero"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-bar-horizontal-normalized>
      <ngx-charts-pie-chart
        *ngIf="chartType === CHARTS_CODES.PIE_CHART"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [labelFormatting]="labelFormatting"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipText]="pieTooltipText"
        (dblclick)="dblclick($event)"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-pie-chart>
      <ngx-charts-advanced-pie-chart
        *ngIf="chartType === CHARTS_CODES.ADVANCED_PIE_CHART"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [results]="data"
        [valueFormatting]="valueFormatting"
        [animations]="animations"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipText]="pieTooltipText"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-advanced-pie-chart>
      <ngx-charts-pie-grid
        *ngIf="chartType === CHARTS_CODES.PIE_GRID"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [results]="data"
        [animations]="animations"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipText]="pieTooltipText"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-pie-grid>
      <ngx-charts-line-chart
        *ngIf="chartType === CHARTS_CODES.LINE_CHART"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [curve]="curve"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [yAxisTicks]="yAxisTicks"
        [xAxisTicks]="xAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-line-chart>
      <ngx-gauge
        *ngIf="chartType === CHARTS_CODES.NGX_GAUGE"
        [size]="ngxGaugeSize"
        [type]="ngxGaugeType"
        [min]="ngxGaugeMin"
        [max]="ngxGaugeMax"
        [value]="data[0].value"
        [cap]="ngxGaugeCap"
        [thick]="ngxGaugeThick"
        [label]="ngxGaugeLabel"
        [foregroundColor]="ngxGaugeForegroundColor"
        [backgroundColor]="ngxGaugeBackgroundColor"
        [append]="ngxGaugeAppend"
        [prepend]="ngxGaugePrepend"
        [duration]="ngxGaugeDuration"
        [thresholds]="ngxGaugeThresholds"
        [markers]="ngxGaugeMarkers"
        [margin]="ngxGaugeMargin"
        [animate]="ngxGaugeAnimate"
        [aria-label]="ngxGaugeAriaLabel"
        [aria-labelledby]="ngxGaugeAriaLabeledBy"
      >
      </ngx-gauge>


      <!--      <ngx-gauge-->
<!--        *ngIf="chartType === CHARTS_CODES.NGX_GAUGE"-->
<!--        [type]="'arch'"-->
<!--        [value]="70"-->
<!--        [append]="'%'"-->

<!--        [markers]="{ '50': { 'color': 'black', type: 'line', size: 5, label: '50 %', font: '20px' }, '85': { 'color': 'black', type: 'line', size: 5, label: '85 %', font: '20px' }}"-->
<!--      >-->
<!--&lt;!&ndash;            [thresholds]="{&ndash;&gt;-->
<!--&lt;!&ndash;        '0': {color: 'green'},&ndash;&gt;-->
<!--&lt;!&ndash;        '105': {color: 'yellow'},&ndash;&gt;-->
<!--&lt;!&ndash;        '110': {color: 'red'}&ndash;&gt;-->
<!--&lt;!&ndash;        }"&ndash;&gt;-->
<!--            &lt;!&ndash;            [markers]="{ '75': { 'color': 'black', type: 'triangle', size: 8, label: '75 %', font: '12px' }, '85': { 'color': 'black', type: 'triangle', size: 8, label: '75 %', font: '12px' }}"&ndash;&gt;-->

<!--      </ngx-gauge>-->
      <ngx-charts-polar-chart
        *ngIf="chartType === CHARTS_CODES.POLAR_CHART"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [showGridLines]="showGridLines"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [showSeriesOnHover]="showSeriesOnHover"
        [trimYAxisTicks]="trimYAxisTicks"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [curve]="closedCurve"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-polar-chart>
      <ngx-charts-bubble-chart
        *ngIf="chartType === 'bubble-chart'"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        class="chart-container"
        [results]="bubble"
        [animations]="animations"
        [showGridLines]="showGridLines"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [minRadius]="minRadius"
        [maxRadius]="maxRadius"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
        (select)="select($event)"
      >
      </ngx-charts-bubble-chart>
      <ngx-charts-area-chart
        *ngIf="chartType === CHARTS_CODES.AREA_CHART"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [curve]="curve"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-area-chart>
      <ngx-charts-area-chart-stacked
        *ngIf="chartType === CHARTS_CODES.AREA_CHART_CHART"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [curve]="curve"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-area-chart-stacked>
      <ngx-charts-area-chart-normalized
        *ngIf="chartType === CHARTS_CODES.AREA_CHART_NORMALIZED"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [curve]="curve"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-area-chart-normalized>
      <combo-chart-component
        *ngIf="chartType === 'combo-chart'"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="comboBarScheme"
        [colorSchemeLine]="lineChartScheme"
        [results]="barChart"
        [animations]="animations"
        [lineChart]="lineChartSeries"
        [tooltipDisabled]="tooltipDisabled"
        [yAxisTickFormatting]="yLeftTickFormat"
        [yLeftAxisScaleFactor]="yLeftAxisScale"
        [yRightAxisScaleFactor]="yRightAxisScale"
        [yRightAxisTickFormatting]="yRightTickFormat"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRightYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisLabelRight]="yAxisLabelRight"
        [noBarWhenZero]="noBarWhenZero"
        (select)="onSelect($event)"
      >
      </combo-chart-component>
      <ngx-charts-heat-map
        *ngIf="chartType === CHARTS_CODES.HEAT_MAP"
        class="chart-container"
        [min]="heatmapMin"
        [max]="heatmapMax"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [innerPadding]="innerPadding"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-heat-map>
      <ngx-charts-heat-map
        *ngIf="chartType === CHARTS_CODES.CALENDAR"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [results]="calendarData"
        [animations]="animations"
        [legend]="showLegend"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [xAxisTickFormatting]="calendarAxisTickFormatting"
        [tooltipText]="pieTooltipText"
        [innerPadding]="innerPadding"
        [tooltipDisabled]="tooltipDisabled"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [rotateXAxisTicks]="rotateXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-heat-map>
      <ngx-charts-tree-map
        *ngIf="chartType === 'tree-map'"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [results]="data"
        [animations]="animations"
        [tooltipDisabled]="tooltipDisabled"
        [labelFormatting]="gdpLabelFormatting"
        [valueFormatting]="currencyFormatting"
        [gradient]="gradient"
        (select)="select($event)"
      >
      </ngx-charts-tree-map>
      <ngx-charts-number-card
        *ngIf="chartType === CHARTS_CODES.NUMBER_CARD"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        cardColor="#232837"
        emptyColor="#1e222e"
        [results]="data"
        [animations]="animations"
        (select)="select($event)"
      >
      </ngx-charts-number-card>
      <ngx-charts-box-chart
        *ngIf="chartType === 'box-plot'"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [results]="boxData"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [customColors]="customColors"
        [strokeColor]="strokeColor"
        [strokeWidth]="strokeWidth"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [roundEdges]="roundEdges"
        [gradient]="gradient"
        [animations]="animations"
        (legendLabelClick)="onLegendLabelClick($event)"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-box-chart>
      <div *ngIf="chartType === CHARTS_CODES.STATUS_DEMO">
        <ngx-slider
          [(ngModel)]="salePrice"
          [step]="100"
          [filled]="true"
          [min]="0"
          [max]="10000"
          (change)="statusData = calcStatusData()"
        >
        </ngx-slider>
        Price: ${{ salePrice }}
        <br />
        <ngx-slider
          [(ngModel)]="personnelCost"
          [step]="100"
          [filled]="true"
          [min]="0"
          [max]="10000"
          (change)="statusData = calcStatusData()"
        >
        </ngx-slider>
        Cost: ${{ personnelCost }} / hr
        <ngx-charts-number-card
          class="chart-container"
          [view]="[ChartContainer.getBoundingClientRect().width,400]"
          [scheme]="colorScheme"
          cardColor="#232837"
          emptyColor="#1e222e"
          [results]="statusData"
          [animations]="animations"
          [valueFormatting]="statusValueFormat"
          [labelFormatting]="statusLabelFormat"
        >
        </ngx-charts-number-card>
      </div>
      <ngx-charts-gauge
        #ngxChartsGauge
        *ngIf="chartType === CHARTS_CODES.GAUGE"
        class="chart-container"
        [view]="view || [ChartContainer.getBoundingClientRect().width,400]"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [results]="data"
        [animations]="animations"
        [textValue]="gaugeTextValue"
        [scheme]="colorScheme"
        [min]="gaugeMin"
        [max]="gaugeMax"
        [units]="gaugeUnits"
        [angleSpan]="gaugeAngleSpan"
        [startAngle]="gaugeStartAngle"
        [showAxis]="gaugeShowAxis"
        [bigSegments]="gaugeLargeSegments"
        [smallSegments]="gaugeSmallSegments"
        [margin]="[marginTop, marginRight, marginBottom, marginLeft]"
        [tooltipDisabled]="tooltipDisabled"
        [showText]="showText"
        [axisTickFormatting]='gaugeFormatValue'
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
<!--            [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"-->

      </ngx-charts-gauge>
      <ngx-charts-linear-gauge
        *ngIf="chartType === CHARTS_CODES.LINEAR_GAUGE"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [animations]="animations"
        [min]="gaugeMin"
        [max]="gaugeMax"
        [value]="gaugeValue"
        [previousValue]="gaugePreviousValue"
        [units]="gaugeUnits"
        (select)="select($event)"
      >
      </ngx-charts-linear-gauge>
      <div *ngIf="chartType === CHARTS_CODES.PLOT_DEMO">
        <ngx-input
          [type]="inputTypes.text"
          [required]="true"
          [(ngModel)]="mathText"
          (change)="mathFunction = getFunction(mathText); plotData = generatePlotData()"
        >
        </ngx-input>
        <ngx-charts-line-chart
          style="position: static; display: inline-block; transform: none"
          [view]="[ChartContainer.getBoundingClientRect().width,400]"
          class="chart-container"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [results]="plotData"
          [animations]="animations"
          [legend]="false"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxisLabel]="'angle'"
          [yAxisLabel]="'radius'"
          [autoScale]="autoScale"
          [timeline]="timeline"
          [showGridLines]="showGridLines"
          [curve]="curves['Cardinal']"
          [rangeFillOpacity]="rangeFillOpacity"
          [roundDomains]="roundDomains"
          [tooltipDisabled]="tooltipDisabled"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [rotateYAxisTicks]="rotateYAxisTicks"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          (select)="select($event)"
        >
        </ngx-charts-line-chart>
        <p></p>
        <ngx-charts-polar-chart
          style="position: static; display: inline-block; transform: none"
          [view]="[ChartContainer.getBoundingClientRect().width,400]"
          class="chart-container"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [results]="plotData"
          [animations]="animations"
          [legend]="false"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          [gradient]="gradient"
          [xAxis]="false"
          [yAxis]="true"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxisLabel]="'angle'"
          [yAxisLabel]="'radius'"
          [autoScale]="autoScale"
          [showGridLines]="showGridLines"
          [rangeFillOpacity]="rangeFillOpacity"
          [roundDomains]="roundDomains"
          [tooltipDisabled]="tooltipDisabled"
          [showSeriesOnHover]="showSeriesOnHover"
          [curve]="curves['Cardinal Closed']"
          [trimYAxisTicks]="trimYAxisTicks"
          [maxYAxisTickLength]="maxYAxisTickLength"
          (select)="select($event)"
          (activate)="activate($event)"
          (deactivate)="deactivate($event)"
        >
        </ngx-charts-polar-chart>
      </div>
      <div class="chart-container" *ngIf="chartType === CHARTS_CODES.TREE_PLOT_DEMO"
           style="padding: 10px; border: 1px solid white">
        <h4 style="text-align: center">
          <button class="btn btn-link" [class.active]="sumBy === 'Size'" (click)="treemapProcess('Size')">
            By Size
          </button>
          <button class="btn btn-link" [class.active]="sumBy === 'Count'" (click)="treemapProcess('Count')">
            By Count
          </button>
        </h4>
        <div style="height: 17px; font-size: 12px">
          <ng-container *ngFor="let item of treemapPath; let last = last">
            <button class="btn btn-link" [class.active]="last" [disabled]="last" (click)="treemapSelect(item)">
              {{ item.name }} ({{ item.value }})
            </button>
            <span *ngIf="!last"> / </span>
          </ng-container>
        </div>
        <ngx-charts-tree-map
          [view]="[ChartContainer.getBoundingClientRect().width,400]"
          [scheme]="colorScheme"
          [results]="treemap"
          [animations]="animations"
          [tooltipDisabled]="tooltipDisabled"
          [gradient]="gradient"
          (select)="treemapSelect($event)"
        >
        </ngx-charts-tree-map>
      </div>
      <div
        class="chart-container"
        *ngIf="chartType === 'bubble-chart-interactive-demo'"
        style="padding: 10px; border: 1px solid white"
      >
        <div>
          <span class="active">{{ getBubbleInteractiveTitle() }}</span>
          <button
            *ngIf="bubbleShowDrillDownResetLink()"
            class="btn btn-link"
            style="float: right"
            (click)="onClickResetBubbleInteractiveDrill()"
          >
            <span>Go Back</span>
          </button>
        </div>
        <ngx-charts-bubble-chart-interactive
          [view]="[ChartContainer.getBoundingClientRect().width,400]"
          [results]="bubbleDemoTempData"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [legend]="showLegend"
          [legendTitle]="legendTitle"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [roundDomains]="roundDomains"
          [tooltipDisabled]="tooltipDisabled"
          [minRadius]="minRadius"
          [maxRadius]="maxRadius"
          (select)="onSelectBubbleInteractivePoint($event)"
        >
        </ngx-charts-bubble-chart-interactive>
      </div>
      <ngx-charts-line-chart
        *ngIf="chartType === CHARTS_CODES.LINE_REFERENCE_LINES"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="data"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [curve]="curve"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        [showRefLines]="showRefLines"
        [showRefLabels]="showRefLabels"
        [referenceLines]="refLines"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
      </ngx-charts-line-chart>
      <ngx-charts-bar-vertical
        *ngIf="chartType === CHARTS_CODES.TOOLTIP_TEMPLATES"
        class="chart-container"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [customColors]="customColors"
        [results]="data"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [tooltipDisabled]="tooltipDisabled"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showGridLines]="showGridLines"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [trimXAxisTicks]="trimXAxisTicks"
        [trimYAxisTicks]="trimYAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        (select)="select($event)"
        (activate)="activate($event)"
        (deactivate)="deactivate($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          <h1>
            {{ getFlag(model.name) }}
          </h1>
          <h2>{{ model.name }}: {{ model.value }}</h2>
        </ng-template>
      </ngx-charts-bar-vertical>
      <ngx-charts-sparkline
        *ngIf="chartType === CHARTS_CODES.SPARKLINE"
        [view]="[100, 50]"
        class="chart-container"
        [scheme]="'flame'"
        [results]="sparklineData"
        [animations]="animations"
        [curve]="curve"
      >
      </ngx-charts-sparkline>
      <ngx-charts-timeline-filter-bar-chart
        *ngIf="chartType === CHARTS_CODES.TIMELINE_FILTER_BAR_CHART_DEMO"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="timelineFilterBarData"
        [animations]="animations"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="false"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="'Executions'"
        [showGridLines]="showGridLines"
        [noBarWhenZero]="noBarWhenZero"
        (onFilter)="onFilter($event)"
      >
      </ngx-charts-timeline-filter-bar-chart>
<!--    </div>-->
    <ngx-charts-bar-vertical-stacked
      *ngIf="chartType === CHARTS_CODES.BAR_VERTICAL_STACKED_NEGATIVE"
      class="chart-container"
      [view]="[ChartContainer.getBoundingClientRect().width,400]"
      [scheme]="colorScheme"
      [schemeType]="schemeType"
      [results]="fiscalYearReport"
      [animations]="animations"
      [gradient]="gradient"
      [tooltipDisabled]="tooltipDisabled"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendTitle]="legendTitle"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="'Fiscal Year Report'"
      [showGridLines]="showGridLines"
      [barPadding]="barPadding"
      [roundDomains]="roundDomains"
      [noBarWhenZero]="noBarWhenZero"
      [yScaleMax]="yScaleMax"
      [showDataLabel]="showDataLabel"
      [trimXAxisTicks]="trimXAxisTicks"
      [trimYAxisTicks]="trimYAxisTicks"
      [maxXAxisTickLength]="maxXAxisTickLength"
      [maxYAxisTickLength]="maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-vertical-stacked>
    <ngx-charts-bar-horizontal-stacked
      *ngIf="chartType === CHARTS_CODES.BAR_HORIZONTAL_STACKED_NEGATIVE"
      class="chart-container"
      [view]="[ChartContainer.getBoundingClientRect().width,400]"
      [scheme]="colorScheme"
      [schemeType]="schemeType"
      [results]="fiscalYearReport"
      [animations]="animations"
      [gradient]="gradient"
      [tooltipDisabled]="tooltipDisabled"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendTitle]="legendTitle"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="'Fiscal Year Report'"
      [showGridLines]="showGridLines"
      [barPadding]="barPadding"
      [roundDomains]="roundDomains"
      [noBarWhenZero]="noBarWhenZero"
      [showDataLabel]="showDataLabel"
      [trimXAxisTicks]="trimXAxisTicks"
      [trimYAxisTicks]="trimYAxisTicks"
      [maxXAxisTickLength]="maxXAxisTickLength"
      [maxYAxisTickLength]="maxYAxisTickLength"
      (select)="select($event)"
      (activate)="activate($event)"
      (deactivate)="deactivate($event)"
    >
    </ngx-charts-bar-horizontal-stacked>
<!--  </div>-->
</div>
