<st2i-dialog [title]="'Add new contact'">
  <div fxFlex="100" fxLayout="row wrap">
    <div fxFlex="100" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="space-between stretch">
      <form [formGroup]="form" fxFlex="100" fxFlex.lt-md="100" fxLayout="row nowrap" fxLayoutAlign="start center">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
          <div fxFlex="100" fxLayout="row wrap">
            <div fxFlex="100" fxFlex.lt-md="100">
              <st2i-text-field
                [label]="getLabel(0)"
                [control]="getFormControl(0)"
              ></st2i-text-field>
              <st2i-text-field
                [label]="getLabel(1)"
                [control]="getFormControl(1)"
              ></st2i-text-field>
              <st2i-text-field
                [label]="getLabel(2)"
                [control]="getFormControl(2)"
              ></st2i-text-field>
            </div>
          </div>
        </div>
      </form>
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
        <st2i-button-loading (click)="onSave()" btnClass="save-btn mx-2" [loading]="params['saveLoading']">
          <div fxLayoutAlign="center center">
            <mat-icon class="mx-1" style="font-size: 1.4rem;">save_outline</mat-icon>
            <span>{{ 'general.save' | translate }}</span>
          </div>
        </st2i-button-loading>
        <button mat-raised-button type="button" class="cancel-btn" (click)="dialogRef.close({data: null})">
          <mat-icon style="font-size: 1.4rem;">close</mat-icon>
          <span>{{ 'general.cancel' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</st2i-dialog>
