<mat-toolbar class="footer footer-height" style="font-size: 17px; z-index: 100; ">
    <!--  <mat-divider></mat-divider>-->
    <mat-toolbar-row class="footer-height" style="align-items: center; ">
        <div
                fxLayout="row wrap"
                fxLayoutAlign="space-between center center"
                style="width: 100%; align-items: center"
        >
            <div class="col-12 col-sm-12 col-md-3" style="text-align-last: center;">
                <img
                        alt="Logo Haicop"
                        src=""
                        style="height: 30px;"
                />
            </div>
            <div class="col-12 col-sm-12 col-md-3 text-center mt-3 mt-xs-3 mt-md-0">Copyright: Présidence du
                Gouvernement
            </div>
            <div class="col-12 col-sm-12 col-md-3 row text-center mt-3 mt-xs-3 mt-md-0" style="align-items: center"
                 fxLayout="row" fxLayoutAlign="center center">
                Suivez-Nous:
                <a href="#" class="mx-2">
                    <mat-icon>facebook</mat-icon>
                </a>
                <mat-icon class="mx-2">twitter</mat-icon>
                <!--                <mat-icon class="mx-2">youtube</mat-icon>-->
                <!--                <mat-icon class="mx-2">linkedin</mat-icon>-->
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
