.footer {
    position: fixed; /*fixed || reative*/
    bottom: 0;
    background-color: #444444;
    color: rgba(255, 255, 255, 0.6);
    max-height: 40px !important;

}

mat-toolbar-row ::ng-deep {
    padding: 0 10vw;
}

@media (min-width: 768px) {
    .footer-height {
        min-height: 50px !important;
    }
}

@media (max-width: 767px) {
    .footer-height {
        min-height: 150px;
    }
}
