<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">

  <st2i-fiche-details
    [data]="params['infoProjet'].data"
    [metadata]="params['infoProjet'].metadata">
  </st2i-fiche-details>

  <!--  <div  fxLayout="row nowrap" fxLayoutAlign="start center">-->
  <app-filtre-list-tasks (searchoptions)="onSearch($event)"></app-filtre-list-tasks>
  <!--  </div>-->

  <div fxFlex="100" fxLayout="row nowrap" fxLayoutAlign="start center" class="mt-3">
    <st2i-datatable fxFlex="100" fxFlex.lt-md="100"
                    #listTasksDatatable
                    [responsePayload]="params.tableListDetailProjetTasks?.responsePayload"
                    [metadata]="params?.tableListDetailProjetTasks.metadata"
                    (onAction)="onAction(this,$event)"
    ></st2i-datatable>
  </div>

<!--  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="mb-4">-->
<!--    <st2i-button-loading (click)="onSave()" [loading]="params.isSaveLoading"-->
<!--                         btnClass="save-btn">-->
<!--      <div fxLayoutAlign="center center">-->
<!--        <mat-icon class="mx-1" style="font-size: 1.4rem;">save_outline</mat-icon>-->
<!--        <span>{{ 'general.save' | translate }}</span>-->
<!--      </div>-->
<!--    </st2i-button-loading>-->
<!--  </div>-->

  <div *ngIf="params['tableListDetailProjetTasks']['listCheckedTasks'].length">
    <app-viewer-filter [tasksList]="params['tableListDetailProjetTasks']['listCheckedTasks']"
                       (deleteTask)="onDeleteFilterViewerTask($event)"
                       (resetEvent)="onResetIsolationViewerTask()"
                       (filterEvent)="onIsolateViewerTasks()"
                       [isolateViewerTasksLoading] ="params.isolateViewerTasksLoading"
    ></app-viewer-filter>
  </div>
  <st2i-card [metadata]="{ title: 'Viewer', classList: { cardContent: 'p-0' }}">
    <div class="forge-viewer" id="MyViewerDiv"></div>
  </st2i-card>

  <st2i-card [metadata]="{ title: '5D Costs'}">
    <div #ChartContainer style="width: 100%" fxLayoutAlign="space-between stretch">
      <ngx-charts-line-chart
        [results]="params['5CostChart'].data"
        [view]="[ChartContainer.getBoundingClientRect().width,400]"
        [scheme]="colorScheme"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [autoScale]="autoScale"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRefLabels]="showRefLabels"
        [showRefLines]="showRefLines"
        [showGridLines]="showGridLines"
        [roundDomains]="roundDomains"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
      >
      </ngx-charts-line-chart>
    </div>
  </st2i-card>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
    <button (click)="onPrecedent()" mat-raised-button type="button" class="cancel-btn">
      <mat-icon class="mx-1" style="font-size: 1.4rem;">arrow_back_outline</mat-icon>
      <span>{{ 'general.back' | translate }}</span>
    </button>
  </div>
</div>
