.app-container .mat-sidenav {
    border-left: none !important;
}

.mat-card-subtitle {
    font-weight: bold;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0 !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-label {
    font-family: "Tajawal" !important;

}

::ng-deep .mat-datepicker-content .mat-calendar {

    height: 400px !important;
}


::ng-deep
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
.mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}

.ui-carousel-container {
    height: 100px;
}

.ui-carousel-container {
    height: 100px;
}

ng-image-slider .custom-image-main img {
    border-radius: 0 !important;
}

ng-image-slider .img-div.selected-image {
    border: 3px solid red;
    box-sizing: border-box;
}

ng-image-slider .img-div {
    cursor: pointer;
}

.ui-carousel
.ui-carousel-dots-container
.ui-carousel-dot-item
.ui-carousel-dot-icon {
    border-radius: 20px;
    height: 20px;
    width: 20px;
    color: #c0392b;
}

.ng-image-slider
.ng-image-slider-container
.main
.main-inner
.img-div.image-popup {
    width: 341.75px;
    margin-left: 3px;
    margin-right: 3px;
}

.ui-carousel-items-content {
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.mat-card-header {
    background-color: #c0392b !important;
    padding: 5px !important;
    color: white;

}

.mat-card {
    padding: 0 !important;
}

.mat-card-content {
    padding: 5px !important;
}

::ng-deep .mat-select-panel {
    max-width: none;

}

.mat-select-panel {
    max-width: none;

}
