<st2i-dialog [title]="'Add new contact'">
  <div fxFlex="100" fxLayout="row wrap">
    <div fxFlex="100" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="space-between stretch">
      <form [formGroup]="form" fxFlex="100" fxFlex.lt-md="100" fxLayout="row nowrap" fxLayoutAlign="start center">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
          <div fxFlex="100" fxLayout="row wrap" >
            <div fxFlex="14" fxFlex.lt-md="100" fxLayoutAlign="start start" class="image-container">
              <img class="view-image" width="104"  height="104" alt="{{'Contact Image'|translate}}" [src]="params['cImageSrc']" />
              <div class="hover-image"   (click)="onChangeImgMenu($event)">
                <mat-icon style="font-size: 1.3rem;">image</mat-icon>
                <p style="font-size: 70%" class="text-uppercase">Change the contact image</p>
              </div>
              <div #matMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed" [style.left.px]="params.menuPosition.x"
                   [style.top.px]="params.menuPosition.y" [matMenuTriggerFor]="changeImgMenu">
              </div>
              <mat-menu #changeImgMenu="matMenu"  xPosition="after" yPosition="below" class="app-menu-panel">
                <input type="file" class="file-input" accept="image/*" (change)="onContactImgSelected($event)" #imageUpload>
                <button mat-menu-item (click)="imageUpload.click()">
                  {{ 'general.image.uploadImg' | translate }}
                </button>
                <button mat-menu-item (click)="handleContactImageChnage('deleteImg')">
                  {{ 'general.image.deleteImg' | translate }}
                </button>
              </mat-menu>
            </div>
<!--            <div fxFlex="10" fxFlex.lt-md="100" class="cp5 mx-2">-->
<!--              <img width="100" height="100" src="assets/images/gallery/default_avatar.png">-->
<!--            </div>-->
            <div class="cp5" fxFlex fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start center">
              <div fxFlex="33" fxFlex.lt-md="100">
                <st2i-text-field
                  [label]="getLabel(0)"
                  [control]="getFormControl(0)"
                ></st2i-text-field>
              </div>
              <div fxFlex="33" fxFlex.lt-md="100">
                <st2i-text-field [control]="getFormControl(1)"
                                 [label]="getLabel(1)"
                ></st2i-text-field>
              </div>
              <div fxFlex="34" fxFlex.lt-md="100">
                <st2i-text-field [control]="getFormControl(2)"
                                 [label]="getLabel(2)"
                ></st2i-text-field>
              </div>
              <div fxFlex="50" fxFlex.lt-md="100">
                <st2i-text-field [control]="getFormControl(3)"
                                 [label]="getLabel(3)"
                                 [numberphone]="true"
                ></st2i-text-field>
              </div>
              <div fxFlex="50" fxFlex.lt-md="100">
                <st2i-text-field [control]="getFormControl(4)"
                                 [label]="getLabel(4)"
                ></st2i-text-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
        <st2i-button-loading (click)="onSave()" btnClass="save-btn mx-2" [loading]="params['saveLoading']">
          <div fxLayoutAlign="center center">
            <mat-icon class="mx-1" style="font-size: 1.4rem;">save_outline</mat-icon>
            <span>{{ 'general.save' | translate }}</span>
          </div>
        </st2i-button-loading>
        <button mat-raised-button type="button" class="cancel-btn" (click)="dialogRef.close({data: null})">
          <mat-icon style="font-size: 1.4rem;">close</mat-icon>
          <span>{{ 'general.cancel' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</st2i-dialog>
