<st2i-card [metadata]="{title: 'general.search_filter'}">
  <form [formGroup]="form">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxFlex="100" class="cp5" fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="33" fxFlex.lt-md="100">
          <st2i-text-field [control]="getFormControl(0)"
                           [label]="getLabel(0)">
          </st2i-text-field>
        </div>
        <div fxFlex="33" fxFlex.lt-md="100">
          <st2i-text-field [control]="getFormControl(1)"
                           [label]="getLabel(1)">
          </st2i-text-field>
        </div>
        <div fxFlex="33" fxFlex.lt-md="100">
          <st2i-text-field [control]="getFormControl(2)"
                           [label]="getLabel(2)">
          </st2i-text-field>
        </div>
      </div>
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
        <st2i-filter-actions
          [hasShowMorebtn]="false"
          (onSearchClicked)="onSearch()"
          (onResetClicked)="onReset()"
          (onShowMoreClicked)="showMoreFilterOptions = $event"
        ></st2i-filter-actions>
      </div>
    </div>
  </form>
</st2i-card>
