th.mat-header-cell {
    color: black;
    background-color: #f0f1f1;
    text-align: center !important;
    text-decoration-color: black;
    -webkit-text-fill-color: black;
    border-radius: 0 !important;
}
::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.view-image {
    width: 4.5rem !important;
    height: 4.5rem !important;
    border:1px solid #646464;
    border-radius:50% !important;
}


.datatable-outline-btn {
    text-align: center;
    background-color: white !important;
    font-size: 0.8rem;
    font-weight: 600;
    color: #3e90d0 !important;
    border: solid 1px #3e90d0;
    width: 11rem !important;
    line-height: 1.5rem !important;
    /*text-shadow: .5px .5px .5px #a19f9f;*/
}

.datatable-outline-btn:hover {
    text-align: center;
    background-color: #3e90d0 !important;
    font-size: 0.79rem;
    font-weight: 600;
    color: white !important;
    border-color: #3e90d0 !important;
    line-height: 1.5rem !important;
    text-shadow: none;
}
