<div class="px-3">
    <st2i-fiche-details
            [data]="responsePayload"
            [metadata]="ficheDetailsMetadata">
    </st2i-fiche-details>
    <app-table-gestion-profils
      [checker]="true"
      [responsePayload]="responsePayloadProfile"
      (sort)="onSort($event)"
      [hasAdd]="false"
      [isDisable]="true"
    >
    </app-table-gestion-profils>

    <div fxLayoutAlign="end center">
        <button (click)="backToList()"
                style="background-color:#3E90D0; color: white;" mat-raised-button>
            <span translate>general.back</span>
        </button>
    </div>

</div>
