.app-menu-panel {
    text-align: center;
    cursor: pointer;
}

.backbutt {
    border: none;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    /*font-size: 16.5px;*/
    line-height: 1rem;
    padding: 0 !important;
}
.backbutt:hover{
    background-color: rgba(114, 114, 114, .3);
    font-size: 130% !important;
}
