<st2i-card [metadata]="{title: 'general.search_filter'}">
    <form [formGroup]="form">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxFlex="100" class="cp5" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex="33" fxFlex.lt-md="100">
                    <st2i-text-field [control]="getFormControl('nomUser')"
                                     [label]="getLabel('nomUser') | translate"
                    ></st2i-text-field>
                </div>
                <div fxFlex="33" fxFlex.lt-md="100">
                    <st2i-select
                            [metadata]="selectServiceName"
                            [listItems]="listService"
                            [control]="getFormControl('nameService')"
                    ></st2i-select>
                </div>
                <div fxFlex="33" fxFlex.lt-md="100">
                    <st2i-select
                            [metadata]="selecMethode"
                            [listItems]="listMethode"
                            [control]="getFormControl('httpMethod')"
                    ></st2i-select>
                </div>
            </div>
            <div fxFlex="100"  fxLayout="row wrap" fxLayoutAlign="end center">
                <st2i-filter-actions
                        [hasShowMorebtn]="false"
                        (onSearchClicked)="onSearch()"
                        (onResetClicked)="onReset()"
                        (onShowMoreClicked)="showMoreFilterOptions = $event"
                ></st2i-filter-actions>
            </div>


        </div>
    </form>
</st2i-card>
