<st2i-card [metadata]="{title: 'gp.5d.ficheProject5DDetails.viewerFilter.title'}"  style="width: 100%;">
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div fxFlex  fxLayout="row wrap" fxLayoutAlign="start center" class="mb-1" >
      <span  class="badge-black mx-2 mb-2" *ngFor="let taskCode of tasksList">
        <div fxFlex fxLayout="row nowrap" fxLayoutAlign="center center">
          <span>{{taskCode}}</span> <span  class="cursor-pointer" (click)="deleteTask.emit(taskCode)"><mat-icon style="color: red; font-size: 120%; padding: 6px;">close</mat-icon></span>
        </div>
      </span>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class=" mt-2">
      <st2i-button-loading (click)="filterEvent.emit()" [loading]="isolateViewerTasksLoading" btnClass="search-btn">
        <div fxLayoutAlign="center center">
          <mat-icon class="mx-1" style="font-size: 1.4rem;">filter_alt_outline</mat-icon>
          <span>{{ 'gp.5d.ficheProject5DDetails.viewerFilter.filterBtn' | translate }}</span>
        </div>
      </st2i-button-loading>
      <st2i-button-loading color="primary" (click)="resetEvent.emit()" [loading]="isolateViewerTasksLoading" btnClass="reset-btn mx-2">
        <div fxLayoutAlign="center center">
          <mat-icon class="mx-1" style="font-size: 1.4rem;">autorenew_outline</mat-icon>
          <span>{{ 'general.reset' | translate }}</span>
        </div>
      </st2i-button-loading>
<!--      <button class="search-btn mt-2" mat-raised-button type="button" (click)="filterEvent.emit()">-->
<!--        <mat-icon>search</mat-icon>-->
<!--        <span> {{'gp.5d.ficheProject5DDetails.viewerFilter.filterBtn' | translate}}</span>-->
<!--      </button>-->
<!--      <button class="reset-btn mx-2 mt-2" mat-raised-button type="button" (click)="resetEvent.emit()">-->
<!--        <mat-icon>autorenew</mat-icon>-->
<!--        <span> {{'general.reset' | translate}}</span>-->
<!--      </button>-->
    </div>
  </div>
</st2i-card>
